/* Global Styles */
body {
    background-color: rgb(57, 57, 57);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
    header div {
        display: flex;
        align-items: center;
    }

        header div img {
            height: 2rem;
            margin-right: 1rem;
        }

    header h1 {
        margin: 0;
    }

    header nav {
        display: flex;
    }

        header nav ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

            header nav ul li {
                margin-left: 1rem;
            }

                header nav ul li a {
                    color: #fff;
                    text-decoration: none;
                }



/* Main Content Styles */
main {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

    main section {
        background-color: #4e4e4e;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        flex-basis: 30%;
        margin-bottom: 2rem;
        padding: 1rem;
    }

        main section h2 {
            margin-top: 0;
        }

        main section p {
            margin-bottom: 0;
        }

        main section a {
            color: #ce89ff;
            text-decoration: none;
        }
    main article {
        background-color: #4e4e4e;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        flex-basis: 30%;
        margin-bottom: 2rem;
        padding: 1rem;
    }

        main article h2 {
            margin-top: 0;
        }

        main article ul {
            margin: 1rem;
            padding: 0;
        }

            main article ul li {
                margin-bottom: 1rem;
            }

                

                main article ul li p {
                    display: inline;
                }

                

        main article a {
            color: #ce89ff;
            text-decoration: none;
        }

        main article pre {
            background-color: #f0f0f0;
            color: #c7254e;
            border-radius: 5px;
            padding: 1rem;
        }


footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

code {
    background-color: #2d2d2d;
    color: #ccc;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 1em;
    text-align: left;
    line-height: 1.5;
    border-radius: 5px;
    padding: 2px;
}


/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=lua */
code[class*=language-], pre[class*=language-] {
    color: #ccc;
    background: 0 0;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre) > code[class*=language-], pre[class*=language-] {
    background: #2d2d2d
}

:not(pre) > code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #999
}

.token.punctuation {
    color: #ccc
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
    color: #e2777a
}

.token.function-name {
    color: #6196cc
}

.token.boolean, .token.function, .token.number {
    color: #f08d49
}

.token.class-name, .token.constant, .token.property, .token.symbol {
    color: #f8c555
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
    color: #cc99cd
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: #7ec699
}

.token.entity, .token.operator, .token.url {
    color: #67cdcc
}

.token.bold, .token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.inserted {
    color: green
}
