
*.vsidx
.vs/Grahmindol.github.io/FileContentIndex/f03e45a3-3304-48f2-bc70-1fd08186358e.vsidx
.vs/Grahmindol.github.io/FileContentIndex/f03e45a3-3304-48f2-bc70-1fd08186358e.vsidx
.vs/Grahmindol.github.io/FileContentIndex/f03e45a3-3304-48f2-bc70-1fd08186358e.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
